// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.hero-banner {
  background-image: url("Stranger_Than_Paradise_1984_4.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
}

.hero-banner-content {
  width: 33%;
  padding-right: 5%;
}
